@media (min-device-width: 640px)
{
    :root {
        --bg-colour: hsl(195, 13%, 6%);
        --translucent-bg-colour: hsla(195, 13%, 6%, 0.72);
        --main-colour: hsl(18, 3%, 97%);
        --accent-colour: hsl(18, 36%, 64%);
    }
}