#footer::before
{
    content: "";
    clear: both;
    display: block;
    height: 0;
}

#footer p
{
    margin: 0.8rem;
}

#footer, #footer a
{
    width: 100%;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
    font-family: nort, sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 0.3rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    text-align: center;
    color: #888888;
}

#footer a, #footer a:hover, #footer a:visited, #footer a:active
{
    color: #888888;
    text-decoration: none;
}

#footer svg
{
    width: 1rem;
    height: 1rem;
    margin-top: 1rem;
}

#footer svg *
{
    fill: #888888!important;
}

@media (max-aspect-ratio: 1/1)
{
    #footer #ig
    {
        display: none;
    }
}
