html, body, *
{
    padding: 0;
    margin: 0;
} 

body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

#titlecontainer
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#profileimg
{
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 0 0 2rem 0;
}

#titlecontainer
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#title
{
    text-align: center;
    overflow: hidden;
    margin: auto;
}

#title h1
{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    text-transform: lowercase;
}

#title h1 a, #title h1 a:hover
{
    font-weight: 600;
    color: #171717;
}

#bio, #bio > a
{
    font-family: ff-tisa-web-pro, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.84rem;
    line-height: 1.4rem;
    margin-bottom: 4rem;
}


#front-links, #front-links > a
{
    font-family: nort, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.72rem;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
}

#instagram
{
    display: block;
    text-align: center;
    margin: auto;
    height: 1rem;
    width: 1rem;
    padding: 0.2rem;
}

#instasvg
{
    fill: #171717;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;
    transition: 300ms;
}

#instagram svg:hover #instasvg
{
    fill: #7F7F7F;
}