html, body, *
{
    padding: 0;
    margin: 0;
} 

body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#image
{
    object-fit: cover;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#titlecontainer
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#title
{
    text-align: center;
    overflow: hidden;
    margin: auto;
}

#title h1
{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

#title p, #title a
{
    font-family: ff-meta-serif-web-pro, serif;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 1rem;
    margin-bottom: 0.55rem;
}

@media (min-aspect-ratio: 1/1)
{

    #image
    {
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 0;
    }
    
    #titlecontainer
    {
        position: absolute;
        left: 50%;
        width: 50%;
        height: 100%;
        z-index: 1;
    }
}

@media (max-aspect-ratio: 1/1)
{

    #image
    {
        position: absolute;
        top: 0;
        height: 50%;
        width: 100%;
        z-index: 0;
        
    }
    
    #titlecontainer
    {
        position: absolute;
        top: 50%;
        height: 50%;
        width: 100%;
        z-index: 1;
    }
}

#instagram
{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0rem;
    height: 1.8rem;
    width: 1.8rem;
}

#instagram > svg > path
{
    fill: #171717;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;
    transition: 300ms;
}

#instagram:hover > svg > path
{
    fill: #7F7F7F;
}