html, body, *
{
    padding: 0;
    margin: 0;
} 

body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

/*
#profileimg
{
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 0 0 2rem 0;
}
*/

#titlecontainer
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#title
{
    text-align: center;
    overflow: hidden;
    margin: auto;
}

#title h1
{
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 2.4rem;
    text-transform: lowercase;
}

#title h1 a, #title h1 a:hover
{
    font-weight: 300;
    color: var(--main-color);
    text-decoration: none;
}

#bio, #bio > a
{
    font-family: ff-tisa-web-pro, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.84rem;
    line-height: 1.4rem;
    margin-bottom: 2.4rem;
}

#front-links, #front-links a
{
    font-family: nort, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.72rem;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
}

#front-links a
{
    -o-transition: 300ms;
    -ms-transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;
    transition: 300ms;
    opacity: 1;
}

#front-links:hover a
{
    opacity: 0.33;
}

#front-links a:hover
{
    opacity: 1;
}

#front-icons 
{
    text-align: center;
}

#front-icons a
{
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 0.2rem;
}

#front-icons #instagram
{
    height: 1rem;
    width: 1rem;
}

#front-icons #youtube
{
    height: 1rem;
    width: 1.5rem;
}

#front-icons a svg *
{
    fill: var(--accent-color);
    -o-transition: 300ms;
    -ms-transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;
    transition: 300ms;
    opacity: 1;
}

#front-icons:hover a svg path, #front-icons:hover a svg g
{
    opacity: 0.33;
}

#front-icons a:hover svg path, #front-icons a:hover svg g
{
    opacity: 1;
}

#logo
{
    width: 4rem;
    height: 4rem;
    margin: 0;
}

#logo, #logo svg 
{
    display: inline-block;
    width: 4rem;
    height: 4rem;
}

#logo svg *
{
    fill: var(--main-color)!important;
}