

@media (max-aspect-ratio: 1/1)
{
    #list-container
    {
        margin-top: 2.4rem;
    }
    
    .list-item
    {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }
}

@media (min-aspect-ratio: 1/1)
{
    #list-container
    {
        margin-top: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-item
    {
        width: 21rem;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

.list-img-container
{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 125%;
    height: 0;
    background-color: var(--grey);
}

.list-img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}


.list-text-container
{
    display: flex;
    position: absolute;
    bottom: 2.4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 11;
}

.list-text 
{
    font-family: nort, sans-serif;
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
    line-height: 1.32rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    max-width: 60%;
}

.list-item:hover .list-text
{
    text-decoration: underline;
}