@import url("https://use.typekit.net/bbc6bjd.css");

:root {
    --bg-color: #f8f8f8;
    --translucent-bg-color: rgba(248,248,248,0.4);
    --main-color: #171717;
    --accent-color: #543e32;
    --grey: #7f7f7f;
}

html
{
    background-color: var(--bg-color);
    font-size: 16px;
}

*
{
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: ff-tisa-web-pro, serif;
    font-weight: 300;
}

#content-container
{
    max-width: 100%;
    padding-top: 7.2rem;
    padding-bottom: 2rem;
    word-wrap: break-word;
    overflow: hidden;
}

p
{
    margin-bottom: 1rem;
}

a, a:visited, a:active
{
    color: var(--accent-color);
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
    font-family: benton-modern-display, serif;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

h1 {
    display: block;
    text-align: center;
    margin-bottom: 0.6rem;
    text-transform: lowercase;
}

h3, h4, h5, h6
{
    margin-top: 1.2rem;
}

ul
{
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

ul li:before
{
    content: "— "
}

img
{
    width: 100vw;
    height: auto;
    margin-top: 0;
    padding: 0;
    object-fit: cover;
}

figcaption > h4
{
    text-align: center;
    font-family: nort, sans-serif;
    margin-top: 0.6rem;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: left;
    font-weight: 400;
    line-height: 1.2rem;
}

#display-img, #img-placeholder
{
    width: 100vw;
}

#img-placeholder
{
    height: 0;
}

#title-block
{
    margin-bottom: 2.4rem;
}

#date
{
    text-align: center;
    font-size: 0.8rem;
    font-family: nort, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

#subtitle
{
    margin-top: 1.6rem;
    margin-bottom: 0.4rem;
    display: block;
    font-style: italic;
    padding: 0 1.6rem;
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
}

#flag
{
    display: block;
    margin: 1.6rem auto 0;
    height: 3.2rem;
    width: 3.2rem;
}

#display-img
{
    margin-top: 2.4rem;
}

@media (max-aspect-ratio: 1/1) /* mobile */
{
    #content-container
    {
        padding-left: calc(env(safe-area-inset-left) + 1.6rem);
        padding-right: calc(env(safe-area-inset-right) + 1.6rem);
    }

    h1
    {
        font-size: 2.4rem;
        line-height: 2.4rem;
    }

    h2
    {
        font-size: 1.4rem;
        margin-top: 1.4rem;
    }

    h3
    {
        font-size: 1.15rem;
    }

    img
    {
        margin-left: calc(-1.6rem - env(safe-area-inset-left));
    }

    figure
    {
        margin: 2rem auto 1.6rem;
    }

    figure + figure
    {
        margin-top: 0.8rem;
    }
}

@media (min-aspect-ratio: 1/1) /* desktop/landscape */
{
    #content-container
    {
        padding-left: calc(env(safe-area-inset-left) + 4.8rem);
        padding-right: calc(env(safe-area-inset-right) + 4.8rem);
    }

    #content
    {
        padding-right: 25%;
    }

    h1 
    {
        font-size: 3rem;
        line-height: 3rem;
    }

    h2
    {
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    h3
    {
        font-size: 1.2rem;
    }

    img
    {
        margin-left: calc(-4.8rem - env(safe-area-inset-left));
    }

    figure
    {
        margin: 2.4rem auto;
    }
    
    /*--
    figure.portrait::before
    {
        content: "";
        text-align: center;
    }

    figure.portrait::after
    {
        content: "";
        text-align: center;
    }
    --*/

    figure.portrait
    {
        display: inline-flex;
        flex-direction: column;
        vertical-align: top;
        text-align: center;
        height: auto;
        margin: 1.2rem 2rem 1.6rem 0;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
    }
    
    figure.portrait > figcaption > h4
    {
        text-align: left;
        margin-bottom: 0;
    }

    figure.portrait img
    {
        margin: 0;
        height: 67vh;
        width: auto;
    }

    #display-img.portrait
    {
        width: auto;
        max-height: 67vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}