@import url("https://use.typekit.net/bbc6bjd.css");

html
{
    font-size: 16px;
}

@media (max-aspect-ratio: 1/1)
{
    html
    {
        font-size: 14px;
    }
}

*
{
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;
}

img
{
    width: 100vw;
    height: auto;
    margin-top: 0;
    padding: 0;
    object-fit: cover;
}

figure
{
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

figcaption > h4
{
    text-align: center;
    font-family: nort, sans-serif;
    margin-top: 0.4rem;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    text-align: left;
    font-weight: 400;
}


@media (min-aspect-ratio: 1/1)
{
    figure.portrait
    {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    figure.portrait > figcaption > h4
    {
        text-align: left;
    }

    figure.portrait img
    {
        margin-left: 0;
        max-height: 100vh;
        width: auto;
    }
}

body
{
    background-color: #f8f8f8;
    color: #171717;
    font-family: ff-tisa-web-pro, serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2;
}

#content
{
    max-width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    word-wrap: break-word;
    font-size: 1.15rem;
    line-height: 2rem;
    overflow: hidden;
}

a, a:visited, a:active
{
    color: #543e32;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
    font-family: benton-modern-display, serif;
    margin-bottom: 1.2rem;
}

h1, h2
{
    margin-top: 3.2rem;
}

h3, h4, h5, h6
{
    text-transform: uppercase;
    margin-top: 2rem;
}

h2, h3, h4, h5, h6
{
    font-weight: 300;
}

h1 {
    display: block;
    text-align: center;
    font-weight: 600;
    margin-bottom: 3.2rem;
    text-transform: lowercase;
}

h2 {
    font-weight: 100;
}

h3
{
    font-weight: 300;
}

p
{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

h1#with-date
{
    margin-bottom: 0.5rem;
}

#date
{
    margin-bottom: 3.2rem;
    text-align: center;
    font-size: 0.8rem;
    font-family: nort, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

ul
{
    list-style-type: none;
    padding-left: 1rem;
}

ul li:before
{
    content: "— "
}

#display-img
{
    width: 100vw;
    margin-bottom: 1.6rem;
}

@media (max-aspect-ratio: 1/1)
{
    #content
    {
        padding-left: calc(env(safe-area-inset-left) + 1.6rem);
        padding-right: calc(env(safe-area-inset-right) + 1.6rem);

    }

    img
    {
        margin-left: calc(-1.6rem - env(safe-area-inset-left));
    }
    
    h1
    {
        font-size: 2.5rem;
    }

    h2
    {
        font-size: 1.4rem;
    }

    h3
    {
        font-size: 1.15rem;
    }

}

@media  (min-aspect-ratio: 1/1)
{
    #content
    {
        padding-left: calc(env(safe-area-inset-left) + 4.8rem);
        padding-right: calc(env(safe-area-inset-right) + 4.8rem);
    }

    #p
    {
        padding-right: 4.8rem;
    }

    img
    {
        margin-left: calc(-4.8rem - env(safe-area-inset-left));
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3
    {
        font-size: 1.2rem;
    }
}