*
{
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;
}

#nav
{
    display: flex;
    width: 100vw;
    height: 3.6rem;
    position: fixed;
    top: 0;
    font-size: 1.2rem;
    z-index: 20;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    -o-transition: 100ms;
    -ms-transition: 100ms;
    -moz-transition: 100ms;
    -webkit-transition: 100ms;
    transition: 100ms;
}

#nav a, #nav a:hover, #nav a:visited, #nav a:active 
{
    color: var(--main-color);
}

#nav a:hover
{
    text-decoration: none;
}

#nav svg *
{
    fill: var(--main-color)!important;
}


@media (max-aspect-ratio: 1/1)
{
    #nav #nav-links
    {
        display: none;
    }

    #nav #moon, #nav #right
    {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 3.6rem;
        height: 100%;
    }

    #nav #moon
    {
        margin: auto auto auto 1.6rem;
    }

    #nav #right
    {
        margin: auto 1.6rem auto auto;
    }

    #right svg
    {
        height: 1rem;
        width: 1rem;
        margin: auto;
    }
}

#links
{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6rem 0 2rem 0;
    height: auto;
    z-index: 15;
    visibility: hidden;
}

#links-bg
{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: translateY(calc(3.6rem - 100%));
    background-color: var(--translucent-bg-color);
    -webkit-backdrop-filter: blur(0.8rem);
    -moz-backdrop-filter: blur(0.8rem);
    -ms-backdrop-filter: blur(0.8rem);
    -o-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);
}

#links.active #links-bg
{
    animation: bg-slidein 400ms ease-out forwards;
    -webkit-animation: bg-slidein 400ms ease-out forwards;
}

#links.inactive #links-bg
{
    animation: bg-slideout 400ms ease-out forwards;
    -webkit-animation: bg-slideout 400ms ease-out forwards;
}

#links ul
{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#links ul li:before
{
    content: ""
}

#links ul li
{
    display: flex;
    width: 100%;
    height: 3.2rem;
    align-content: center;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
}

#links.active ul li
{
    visibility: visible;
    animation: content-slidein 200ms ease-out forwards;
    -webkit-animation: content-slidein 200ms ease-out forwards;
    animation-delay: 200ms;
}

#links.inactive ul li
{
    animation: content-slideout 200ms ease-out forwards;
    -webkit-animation: content-slideout 200ms ease-out forwards;
}

#links ul li a
{
    font-family: nort, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

#links ul li a, #links ul li a:active 
{
    color: var(--main-color);
}

#links ul li#links-icons a
{
    display: inline-block;
    text-align: center;
    margin: auto 0.2rem;
    padding: 0.2rem;
}

#links-icons #youtube
{
    width: 1.5rem;
    height: 1rem;
}

#links-icons #instagram
{
    width: 1rem;
    height: 1rem;
}

#links-icons a svg *
{
    fill: var(--main-color);
    -o-transition: 300ms;
    -ms-transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;
    transition: 300ms;
    opacity: 1;
}

#links-icons:hover a svg *
{
    opacity: 0.33;
}

#links-icons a:hover svg *
{
    opacity: 1;
}


@media (min-aspect-ratio: 1/1)
{
    #nav #moon
    {
        width: 100%;
        margin: auto;
    }

    #nav #right
    {
        display: none;
    }

    #nav-links
    {
        margin: 0 4.8rem 0 0;
        height: 100%;
        display: flex;
    }

    #nav #nav-links a
    {
        display: block;
        font-family: nort, sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        margin: auto 0.8rem auto 0.8rem;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }

    #nav #moon
    {
        align-content: left;
        justify-content: left;
        margin-left: 4.8rem;
    }

    #moon svg
    {
        width: 3.6rem;
    }
}

@keyframes bg-slidein
{
    100%
    {
        transform: translateY(0);
    }
}

@keyframes bg-slideout
{
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(calc(3.6rem - 100%));
    }
}

@-webkit-keyframes bg-slidein
{
    100%
    {
        transform: translateY(0);
    }
}

@-webkit-keyframes bg-slideout
{
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(calc(3.6rem - 100%));
    }
}

@keyframes content-slidein
{
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes content-slideout
{
    0%
    {
        opacity: 1;
        transform: translateY(0);
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes content-slidein
{
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes content-slideout
{
    0%
    {
        opacity: 1;
        transform: translateY(0);
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100%);
    }
}