#nav
{
    overflow: hidden;
    width: 100%x;
}

#nav a
{
    font-weight: 300;
    font-size: 1rem;
    text-transform: lowercase;
    color: #444;
    padding: 1rem;
    padding-right: 2rem;
}

#nav a:hover
{
    color: #BBB;
}

#nav a#logo
{
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    color: #444;
    padding-left: 0;
}

#nav a#logo:hover
{
    color: #444;
}

@media (min-aspect-ratio: 1/1)
{
    #nav
    {
        height: 4rem;
    }

    #nav a#logo
    {
        float: left;
        display: block;
    }

    #nav a#hamburger
    {
        margin: 0;
        display: none;
    }

    #links
    {
        float: right;
        display: block;
    }
    #links a
    {
        float: left;
        display: block;
        padding-right: 1rem;
    }
}

@media (max-aspect-ratio: 1/1)
{
    #nav
    {
        padding-bottom: 1rem;
    }

    #nav a#logo
    {
        float: left;
        display: block;
    }
    
    #nav a#hamburger, .hide a#hamburger
    {
        float: right;
        display: block;
        font-weight: 500;
        font-size: 2rem;
        color: #444;
        padding: 0;
        padding-top: 0.5rem;
    }

    #links
    {
        display: none;
    }

    #links a
    {
        display: block;
        width: 100%x;
        clear: both;
    }
}