#cover {
    width: 100%;
    height: 100%;
    margin: 0;
}

#coverimage
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('cover.jpg')
}

#maintitlewrapper
{
    position: relative;
}

#maintitle
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 33%;
    text-align: center;
    overflow: auto;
}

@media (min-aspect-ratio: 1/1)
{
    #coverimage
    {
        float: left;
    }
    
    #maintitlewrapper
    {
        float: right;
    }
    
    #coverimage, #maintitlewrapper
    {
        width: 50%;
        height: 100%
    }
}

@media (max-aspect-ratio: 1/1)
{
    #coverimage, #maintitlewrapper
    {
        width: 100%;
        height: 50%;
    }
    
}

#instalink
{
    display: block;
    text-align: center;
    background: url('ig.png') center top no-repeat;
    background-size: contain;
    margin-top: 2em;
    height: 2em;
    width: 2em;
    margin-left: auto;
    margin-right: auto;
}

#instalink:hover
{
    background-image: url('ig_hover.png')
}