#topnav
{
    overflow: hidden;
    background-color: white;
    position: relative;
}

#toplinks:
{
    display: none;
}

#topnav a
{
    display: block;
    text-align: left;
    padding: 1.2em 1.2em;
    font-size: 1.2em;
    color: #3F3F3F
}

#topnav a:hover
{
    color: #7F7F7F
}

#topnav a.icon
{
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active
{
    color: #3F3F3F;
}

.mainlink
{
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: 
}