@import url("https://use.typekit.net/bbc6bjd.css");

body
{
    background-color: #171717;
    color: #f8f8f8;
}

body, #bg, #center
{
    width: 100vw;
    height: 100vh;
}

#bg, #center
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#top, #bottom
{
    height: 4.8rem;
    width: 100vw;
    position: absolute;
    z-index: 2;
    font-family: nort, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.04rem;
}


#top
{
    top: 1rem;
}

#bottom
{
    bottom: 1rem;
}

#center, .corner
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#center-contents
{
    text-align: center;
}

h1
{
    font-size: 6rem;
    line-height: 6rem;
    margin-bottom: -0.5rem;
}

h2
{
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-top: -0.5rem;
}

.corner
{
    position: absolute;
}

.left
{
    left: 2rem;
}

.right
{
    right: 2rem;
    text-align: right;
}

#temp
{
    font-family: nort, sans-serif;
    font-size: 1.6rem;
    margin-bottom: 0;
}

#weather-condition
{
    font-family: nort, sans-serif;
    font-size: 0.8rem;
    margin-top: 0;
}