@import url("https://use.typekit.net/bbc6bjd.css");

*
{
    margin: 0;
    padding: 0;
    font-family: var(--heading-serif-typeface);
}

body
{
    background-color: var(--bg-colour);
    color: var(--main-colour);
}

#dash-container
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 14rem;
    min-width: 28rem;
}

.top, .bottom, .left, .right
{
    position: absolute;
    display: block;
}

.top
{
    top: 3rem;
}

.bottom
{
    bottom: 3rem;
}

.left
{
    left: 3rem;
    text-align: left;
}

.right
{
    right: 3rem;
    text-align: right;
}

#logo svg 
{
    width: 7.2rem;
    height: 7.2rem;
}

#logo svg *, #logo svg
{
    fill: var(--main-colour)!important;
}

h1#time
{
    font-weight: 300;
    font-family: var(--heading-sans-typeface);
    margin: 0;
    font-size: 3.6rem;
}

#greeting
{
    font-size: 1rem;
}