@import url("https://use.typekit.net/bbc6bjd.css");

body
{
    background-color: #171717;
    color: #f8f8f8;
}

body, #bg
{
    width: 100vw;
    height: 100vh;
}

#content-container
{
    position: absolute;
    z-index: 1;
    width: 100%;
}

@media (max-aspect-ratio: 1/1)
{
    #content-container
    {
        top: 2.8rem;
        height: calc(100vh - 5.6rem);
    }
    
    h1
    {
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin: 0;
    }
}

@media (min-aspect-ratio: 1/1)
{
    #content-container
    {
        top: 4.8rem;
        height: calc(100vh - 9.6rem);
        min-height: 20rem;
    }

    h1
    {
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin: 0;
    }
}

#bg
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

img#bg
{
    object-fit: cover;
}

#top, #center, #bottom
{
    width: 100%;
    z-index: 1; 
}

#top, #bottom
{
    height: 4.8rem;
    font-family: nort, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

#center
{
    height: calc(100% - 9.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#center-contents
{
    text-align: center;
}

#top-contents, #bottom-contents
{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
}

#top-contents
{
    top: 0;
}

#bottom-contents
{
    bottom: 0;
}

#logo svg 
{
    width: 4rem;
    height: 4rem;
}

h1
{
    font-weight: 300;
}